/build/
/out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
Testing/
/.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.obj
*.pdb
*.ilk
*.tlog
[Dd]ebug/
[Rr]elease/
x64/
x86/
